@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

a:hover {
    opacity: 0.7;

}


/* configurações no header*/
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin-bottom: none;
}

.logo-principal img {
    width: 75px;
    height: 70px;
    margin: 10px;
}


/* menu-hamburguer*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'work sans', sans-serif;
}

.nav-list li a {
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 3px;
    font-size: 20px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 37px;
    height: 4px;
    background: white;
    margin: 8px;
}

.nav-list {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    top: 90px;
    left: 0;
    width: 50%;
    height: 92vh;
    background: rgb(61, 60, 62);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 2;
    list-style: none;

}

.nav-list.active {
    transform: translateX(0);
}

.nav-list li {
    color: white;
    letter-spacing: 3px;
    margin-right: 32px;
}

/* 
.nav-list li {
    width: 90%;
    margin-right: 20px;
    opacity: 0;
    color: aliceblue;
    font-size: 18px;
    list-style: none;

} */

.mobile-menu {
    display: block;
}

.nav-list a {
    overflow: visible;
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;

}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-9px, -9px);

}


/* barra de pesquisa*/
.bar-search {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid;
    border-color: aliceblue;

}

.cx-search,
.bt-search {
    border: none;
    border-radius: 20px;
    padding: 2px;
}

.cx-search {
    display: block;
    width: 90%;
}

.bt-search {
    cursor: pointer;
    color: aliceblue;
    background: none;
}

.bt-search i {
    font-size: 25px;
}

.bt-search:hover {
    background-color: aliceblue;
    color: black;
}


/* botoes de informacoes e cartShopping*/
.info-compras {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-right: 50px;
}

.info-compras img {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50px;
}

header img {
    margin-right: -80px;
}


/* configurações do primeiro carousel*/
.carousel img {
    width: 100%;
    height: 600px;
}


.carousel-control-prev {
    z-index: 0;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-caption h5 {
    text-decoration-style: solid;
}


/* configurações das logos*/
.logos {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, rgba(78, 89, 89), rgba(255, 255, 255, 0));
}

.logos img {
    width: 90px;
    height: 90px;

}

/* configurações do accordion menu-horizontal*/
.menu-horizontal {
    width: 100%;
    height: 90px;
    justify-content: space-around;
    background-color: black;
    font-family: 'work sans', sans-serif;
}

.transitionDelay:hover {
    height: 100%;
}

.transitionDelay:not(.carousel) {
    height: 0%;
}


#accordionExample {
    display: flex;
    justify-content: space-around;
}

.accordion-item {
    background-color: black;
}

.accordion-button {
    background-color: black;
    color: aliceblue;
    margin: none;
}

.accordion-body ul {
    display: flex;
    flex-direction: column;

}

.accordion-button:not(.collapsed) {
    color: red;
}

/* configurações bloco de novidades*/
.section-newAndPreview {
    width: 100%;
    padding: 30px;
}

.section-newAndPreview h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 50px;
    background: linear-gradient(180deg, #ff3535, #c3c3c3);
    padding: 10px;
    border-radius: 20px;
    font-family: 'work sans', sans-serif bold;
}

.novidades-itens p {
    width: 50%;
    height: 25%;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'work sans', sans-serif;
}

.novidades-itens a {
    color: red;
}

.novidades-itens img {
    width: 30%;
    height: 25%;
    position: relative;
    border-radius: 15px;
}

.item1 {
    display: flex;
    direction: rtl;
    margin: 20px;
}

.item2 {
    display: flex;
}

.item2 img {
    position: relative;
    top: -50px;
}

.item2 p {
    margin-left: 30px;
    margin-top: -40px;
}

.gif-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gif-card img:hover {
    transform: scale(1.2) rotateZ(360deg);
    transition: transform 1s;
}

.gif-card i {
    color: red;
    font-size: 150px;
}

.gif-card img {
    width: 90%;
    height: 200px;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
    margin-top: -30px;
}

.gift-arrow {
    width: 200px;
    position: relative;
}

.animationPosition {
    position: absolute;
    animation: position 2s linear infinite;
}

@keyframes position {
    0% {
        left: 35%;
    }

    25% {
        left: 50%;
    }

    50% {
        left: 35%;
    }

    75% {
        left: 50%;
    }

    100% {
        left: 35%
    }
}


/* configurações area jogos online*/

.jogos-online {
    width: 100%;
    background-color: black;
}

.jogos-inner {
    padding: 40px;
    color: aliceblue;
}

.jogos-inner h2 {
    font-size: 30px;
    background: linear-gradient(180deg, #ff3535, #c3c3c3);
    padding: 10px;
    border-radius: 20px;
}

.jogos-itens {
    margin-top: 30px;
}

.item {
    display: flex;
    padding: 20px;
    position: relative;
    align-items: initial;
}

.item p {
    margin: 30px;
    font-size: 20px;
    text-align: left;
}

.item a {
    text-decoration: underline;
    color: red;
}

.item img {
    width: 50%;
    height: 50%;
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
}

.item img {
    width: 500px;
    height: 300px;
}

.obj-2,
.obj-4 {
    direction: rtl;
    margin-top: -50px;
    height: 50%px;
}

.obj-3 {
    margin-top: -50px
}


/* configurações carousel clientes*/
.client {
    width: 100%;
    background: linear-gradient(90deg, rgba(78, 89, 89) 40%, transparent);
}

.carousel-clientes {
    display: inline-flex;
    padding: 50px;
}

.carousel-clientes img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.cliente-text {
    width: 50%;
    height: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: black;
    font-size: 20px;
}


/* configurações do footer */
.container-footer {
    width: 100%;
    background-color: black;
}

.footer-conteudo {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: aliceblue;
    gap: 30px;

}

.footer-conteudo h4 {
    font-size: 20px;

}

.footer-conteudo a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

.informacoesFooter {
    display: flex;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}

.pagamentos img {
    width: 60px;
    height: 30px;
}

.formas-pagar {
    display: flex;
    flex: wrap;
    gap: 10px
}

.redes img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.cadastro-email img {
    width: 100px;
    height: 90px;
}

.cadastro-email p {
    font-size: 20px;
}

.bar-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-cadastro {
    width: 300px;
    padding: 4px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;

}

.bt-cadastro {
    background-color: #ff0000ab;
    color: aliceblue;
    padding: 4px;
    border-radius: 0 10px 10px 0;
}


@media screen and (max-width: 1200px) {

    /*header*/
    header {
        height: 75px;
    }

    .nav-list {
        top: 7vh
    }

    .nav-list a {
        font-size: 18px;
    }

    .nav-list li {
        font-size: 16px;
    }

    .logo-principal img {
        width: 60px;
        height: 60px;
    }


    /* primeiro carousel*/
    .carousel img {
        height: 450px;
    }

    /* secao de logos */
    .logos img {
        width: 70px;
        height: 70px;
    }

    /* secao de novidades */
    .novidades-itens p {
        font-size: 18px;
    }

    .new img {
        width: 40%;

    }

    /* secao jogos-online*/
    .item p {
        font-size: 18px;
    }

    .item img {
        width: 30%;
        height: 30%;
    }

    /* secao clientes comentarios */
    .cliente-text {
        width: 40%;
        height: 40%;
        font-size: 18px;
    }

    /* footer */
    .footer-conteudo {
        gap: 20px;
    }

    .footer-conteudo h4 {
        font-size: 18px;
    }

    .footer-conteudo a {
        font-size: 16px;
    }

    .pagamentos img {
        width: 40px;
        height: 25px;
    }

    .redes img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }

    .cadastro-email img {
        width: 80px;
        height: 70px;
        padding: 10px;
    }

    .cadastro-email p {
        font-size: 18px;
    }

    .box-cadastro {
        width: 200px;
        font-size: 18px;
    }

    .bt-cadastro {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {

    /*header*/
    header {
        height: 60px;
        display: flex;
        flex-basis: 30vw;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-2px, 3px);
    }

    .nav-list {
        top: 6vh;
    }

    .nav-list a {
        font-size: 16px;
    }

    .nav-list li {
        font-size: 14px;
    }

    .mobile-menu div {
        width: 25px;
        height: 3px;
        margin: 5px;
    }

    .logo-principal img {
        width: 50px;
        height: 50px;
    }

    .bar-search {
        border: none;
    }

    .bar-search i {
        background-color: aliceblue;
        color: black;
        padding: 10px;
        border-radius: 50%;
        font-size: 15px;
    }

    .cx-search {
        width: 50%;
        background-color: black;
        color: aliceblue;
    }

    .info-compras {
        display: none;
    }

    /* primeiro carousel*/
    .carousel img {
        height: 300px;
    }

    .carousel h5 {
        display: show;
        font-size: 18px;
    }

    .carousel-caption p {
        display: none;
    }

    /* secao de logos*/
    .logos {
        height: 50px;
    }

    .logos img {
        width: 40px;
        height: 40px;
    }

    /* menu horizontal*/
    .accordion-button,
    .accordion-body {
        font-size: 16px;
    }

    .accordion {
        display: flex;
        flex-wrap: wrap;
    }

    /*novidades */
    .section-newAndPreview h2 {
        font-size: 18px;
        margin: 20px;
    }

    .new {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .new p {
        width: 100vw;
        font-size: 15px;
    }

    .new img {
        width: 50%;
        height: 50%;

    }

    .gif-card i {
        font-size: 50px;

    }

    .gif-card img {
        height: 120px;
    }

    /* jogos online  */
    .jogos-inner h2 {
        font-size: 20px;
    }


    .item {
        display: flex;
        flex-direction: column;
    }

    .item p {
        font-size: 15px;
    }

    .item img {
        width: 30%;
        height: 30%;
        padding: 10px;
    }

    .obj-3,
    .obj-4 {
        display: none;
    }

    /* carousel clientes*/
    .carousel {
        height: 300px;
    }

    .carousel-clientes img {
        display: none;
    }

    .cliente-text {
        width: 300px;
        margin-top: -50px;
    }

    .cliente-text h3 {
        font-size: 18px;

    }

    .cliente-text p {
        font-size: 16px;
    }

    /* footer */
    .footer-conteudo {
        display: flex;
        flex-direction: column;
        padding: none;
        gap: 30px;
    }

    .footer-conteudo h4 {
        font-size: 18px;
    }

    .footer-conteudo a {
        font-size: 15px;
    }

    .cadastro-email img {
        width: 70px;
        height: 60px;
        margin-top: -60px;
        margin-left: 160px;
    }

    .cadastro-email p {
        margin: 20px;
    }

    .box-cadastro,
    .bt-cadastro {
        height: 28px;
        font-size: 16px;
    }

    .box-cadastro {
        width: 50%;
    }
}